<!DOCTYPE html>
<html>
<head>
  <title>NavbarBootstrapRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar header">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="navbar-header">
          <%= link_to "NAVBAR-BOOTSTRAP", root_path, class:'navbar-brand brand' %>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><%= link_to "Link 1", root_path %></li>
            <li><%= link_to "Link 2", root_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to root_path do %>
                <%= fa_icon 'envelope-o' %> 
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                <%= fa_icon 'sign-out' %> 
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
